* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #17171F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}


label img {
  width: 40px;
  height: 40px;
  animation: beat 800ms ease-in-out infinite;
  position: relative;
  top: 25px;
  z-index: 9;
}

@keyframes beat {
  0%, 100% {
    width: 40px;
    height: 40px;
  } 50% {
    width: 45px;
    height: 45px;
  }
}

.heart {
  background-color: black;
  opacity: 0.7;
  width: 500px;
  height: 0px;
  display: flex;
  justify-content: center;
  transition: height 700ms;
  border-radius: 100px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;

  letter-spacing: 0px;
  word-spacing: 2px;
  line-height: 1.5;

  overflow: hidden;
}

label {
  width: 45px;
  height: 45px;
}

input {
  scale: 0;
  transform: scale(0);
      -webkit-transform: scale(0); /* For Webkit-based browsers (Chrome, Safari) */
    -moz-transform: scale(0);    /* For Mozilla Firefox */
    -ms-transform: scale(0);     /* For Microsoft Edge */
  
  
}

input:checked ~ .heart {
  height: 600px;
}

.letter {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  width:calc(100% - 50px);
  height: calc(100% - 100px);
  overflow-y: scroll;
  gap: 10px;
}

.letter .start {
  width: 100%;
  text-align: start;
  margin-top: 50px;
  margin-left: px;
}
/* .letter {
  
  width: calc(100% - 25px);
  height: 500px;

  margin: 20px;

  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.chButton {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.chButton span {
  animation: loading 5s linear infinite;
}

.chButton span:nth-child(1) {
  animation-delay: 0s;
}

.chButton span:nth-child(2) {
  animation-delay: 1s;
}

.chButton span:nth-child(3) {
  animation-delay: 1.2s;
}

.chButton span:nth-child(4) {
  animation-delay: 1.3s;
}

@keyframes loading {
  0%, 100% {
    color: white;
  } 50% {
    color: black;
  }
}

@media  (max-width: 768px) {
  .heart {
    width: calc(100vw - 50px);
  }
}
  
.pic img{
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

